<form class="" action="/duedate">
  <label for="latest-date">Find Tasks Need to be done before</label>
  <input type="date" name="latest-date" id="latest-date" value="">
  <button type="submit" name="button">Start Search</button>
</form>
